<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
        <link rel="stylesheet" href="../css/examples.css">
        <link rel="stylesheet" href="../../src/themes/default/nexBase.css">
        <link rel="stylesheet" href="../../src/themes/default/showat/nexShowAt.css">
        <link rel="stylesheet" href="../../src/themes/default/panel/nexPanel.css">
        <link rel="stylesheet" href="../../src/themes/default/window/nexWindow.css">
		<link rel="stylesheet" href="../../src/themes/default/layout/nexLayout.css">
        <script src="../../src/jquery-1.8.0.min.js"></script>
        <script src="../../src/nex/Nex3.js"></script>
        <script src="../../src/nex/Base.js"></script>
        <script src="../../src/nex/core/Base.js"></script>
        <script src="../../src/nex/core/Class.js"></script>
        <script src="../../src/nex/EventObject.js"></script>
        <script src="../../src/nex/ComponentManager.js"></script>
        <script src="../../src/nex/AbstractComponent.js"></script>
        <script src="../../src/nex/Loader.js"></script>
        <script src="../../src/nex/tableLayout/TableLayout.js"></script>
    </head>
    <body>
    <style type="text/css">
		html,body { margin:0px; padding:0px; width:100%; height:100%;}
	</style>
    	<div id="base" style="width:80%; height:80%; margin:0px; padding:0px; border:1px solid red;">
            <table cellpadding="0" cellspacing="0" style="width:100%; height:100%;">
				<tr>
					<td colspan="3"></td>
				</tr>
				<tr>
					<td width="100"  style="border:3px solid red; background:red;" valign="top">
						<div style="width:100%; overflow:auto; height:100%; background:#ccc">
							<!--<div style="height:1000px;">12</div>-->
						</div>
					</td>
					<td  style="border:3px solid red;">
						<div style="width:100%;  height:100%; background:#009999">
							
						</div>
					</td>
					<td width="130"  style="border:3px solid red;">
						<div style="width:100%;  height:100%; background:#ccc">
							
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3"></td>
				</tr>
			</table>	
        </div>
        <script type="text/javascript">
		var layout;
		</script>
    </body>
</html>
